<div class="starter">
    Cognizance: Hologram Map 
</div>

<img src="https://www.dl.dropboxusercontent.com/s/bc2k7gjwavi205f/o.png?dl=0">

<div class="video">
    <iframe src="https://player.vimeo.com/video/463755608" width="1000" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
</div>

<div class="video">
    <iframe src="https://player.vimeo.com/video/463755813" width="1000" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

<div class="video">
    <iframe src="https://player.vimeo.com/video/463756013" width="1000" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

<img src="https://www.dl.dropboxusercontent.com/s/g2e0iwbdf3m9w8u/two.png?dl=0">

<div class="ender">
    Cognizance: Hologram Map <br>
    <span class="date">September 2019</span>
</div>

