<div class="starter">
    ANDC-2019 "Kharsali" 
</div>

<img src="https://www.dl.dropboxusercontent.com/s/6vywew17ikif0f2/one.png?dl=0">

<div class="video">
    <iframe src="https://www.youtube.com/embed/UknCcYDGQ6Y?autoplay=1&loop=1&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&iv_load_policy=3&theme=light&disablekb=1" width="100%" height="400" frameborder="0"></iframe>
</div>

<img src="https://www.dl.dropboxusercontent.com/s/heat36wl443sxmj/three.png?dl=0">


<div class="ender">
    ANDC-2019 "Kharsali" <br>
    <span class="date">September 2019</span>
</div>