<section id="contact">
    <div class="contact">

        <div class="row logos">

            <div class="col-sm-1 icon">
                <a href="abhisheksoni11999@gmail.com" target="_blank">
                    <img src="../../assets/gmail.png">
                </a>
            </div>
               
            <div class="col-sm-1 icon">
                <a href="http://www.linkedin.com/in/abhishek-soni-a19264176/" target="_blank">
                    <img src="../../assets/linkdin.png">
                </a>
            </div>
            <div class="col-sm-1 icon">
                <a href="http://www.instagram.com/abhisheksoni7700/?hl=en" target="_blank">
                    <img src="../../assets/insta.png">
                </a>
            </div>
            <div class="col-sm-1 icon">
                <a href="http://www.facebook.com/profile.php?id=100021832626200" target="_blank">
                    <img src="../../assets/fb.png">
                </a>
            </div>

        </div>

        <div class="row logosOrtho">
            <div class="col-1 icon">
                <a href="abhisheksoni11999@gmail.com" target="_blank">
                    <img src="../../assets/gmailO.png">
                </a>
            </div>
               
            <div class="col-1 icon">
                <a href="http://www.linkedin.com/in/abhishek-soni-a19264176/" target="_blank">
                    <img src="../../assets/linkdinO.png">
                </a>
            </div>
            <div class="col-1 icon">
                <a href="http://www.instagram.com/abhisheksoni7700/?hl=en" target="_blank">
                    <img src="../../assets/instaO.png">
                </a>
            </div>
            <div class="col-1 icon">
                <a href="http://www.facebook.com/profile.php?id=100021832626200" target="_blank">
                    <img src="../../assets/fbO.png">
                </a>
            </div>

        </div>
        
    </div>

<div class="row footer">

    <div class="col-4 mashaal">

        <div class="fire">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <img src="../../assets/mashaal.png" class="wall">

        </div>

    </div>

    <div class="col-4 offset-4 mashaal">

        <div class="fire">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <img src="../../assets/mashaal.png" class="wall">

        </div>

    </div>
</div>


<div class="container credits">
    <a href="#top"><mat-icon style="font-size: 80px; width: 80px;">keyboard_arrow_up</mat-icon></a>
    <br>
    <div style="width: 50%; border-bottom:2px solid white ; margin: auto; margin-bottom: 6%"></div>
    Designed by- Me <mat-icon style="font-size: 16px;">album</mat-icon> 
    Developed by <a href="https://www.yashbharani.com" target="_blank" style="font-weight: 900;">- Y.H.B.</a></div>
</section>
