.contact{
    background-image: url(../../assets/contact.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vw;
    background-color: #000;
}

.logos{

    display: flex;
    position: relative;
    top: 77%;
    left: 20%;
    -webkit-filter: drop-shadow(-5px 2px 25px #000);
    filter: drop-shadow(-5px 2px 25px #000);
    
}

.logosOrtho{

    display: none;
    position: relative;
    top: 77%;
    left: 17%;
    -webkit-filter: drop-shadow(-5px 2px 25px #000);
    filter: drop-shadow(-5px 2px 25px #000);
    
}

.icon{
    transition: transform .2s;
cursor: pointer;
}

.icon:hover{
    transform: scale(1.4);

}

.footer{
    background: linear-gradient(0.5turn, #6E0003, #240306);
    height: 100px;
    padding: 40px;
    padding-bottom:100px ;
    font-size: 16px;
}

.credits{
    opacity: .7;
}

.yhb{
    cursor: pointer;
    color: white;
    text-decoration: none;
}
.back{
    text-align: right;
    opacity: .7;
    cursor: pointer;
}


@media screen and (max-width: 1000px) {

    .contact{
      height: 90vw;
    }

    .logos{
        display: none;
    }

    .logosOrtho{
        display: flex;
    }

    .icon{
        display: block;
        object-fit: cover;
        zoom: .3;
    }
}

@media screen and (max-width: 600px) {
    .contact{
        height: 105vw;
        background-position: left;
    }

    .logosOrtho{
        display: flex;
       left: 45%;
    }
}

@media screen and (max-width: 400px) {
    .contact{
        background-image: url(../../assets/contactSmall.png);
        height: 180vw;
        background-position: left;
        background-position: center;
        background-size: cover;
    }

    .logosOrtho{
        display: flex;
       left: 3em;
    }

    .icon{
        display: block;
        object-fit: cover;
        zoom: .3;
        right: 1.5em;
    }
}

