<section id="contact" style="max-height: 90%;">
    <div class="contact">

        <div class="row logos">

            <div class="col-sm-1 icon">
                <a href="https://www.behance.net/abhisheksofd26" target="_blank">
                    <img src="../../assets/behance.png">
                </a>
            </div>
               
            <div class="col-sm-1 icon">
                <a href="http://www.linkedin.com/in/abhishek-soni-a19264176/" target="_blank">
                    <img src="../../assets/linkdin.png">
                </a>
            </div>
            <div class="col-sm-1 icon">
                <a href="http://www.instagram.com/abhisheksoni7700/?hl=en" target="_blank">
                    <img src="../../assets/insta.png">
                </a>
            </div>
            <div class="col-sm-1 icon">
                <a href="http://www.facebook.com/profile.php?id=100021832626200" target="_blank">
                    <img src="../../assets/fb.png">
                </a>
            </div>

        </div>

        <div class="row logosOrtho">
            <div class="col-1 icon">
                <a href="https://www.behance.net/abhisheksofd26" target="_blank">
                    <img src="../../assets/behnaceO.png" style="scale: 1.2;">
                </a>
            </div>
               
            <div class="col-1 icon">
                <a href="http://www.linkedin.com/in/abhishek-soni-a19264176/" target="_blank">
                    <img src="../../assets/linkdinO.png">
                </a>
            </div>
            <div class="col-1 icon">
                <a href="http://www.instagram.com/abhisheksoni7700/?hl=en" target="_blank">
                    <img src="../../assets/instaO.png">
                </a>
            </div>
            <div class="col-1 icon">
                <a href="http://www.facebook.com/profile.php?id=100021832626200" target="_blank">
                    <img src="../../assets/fbO.png">
                </a>
            </div>

        </div>
        
    </div>

<div class="row foote">

    <div class="col-4 mashaal">

        <div class="fire">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <img src="../../assets/mashaal.png" class="wall">

        </div>

    </div>

    <div class="col-4 offset-4 mashaal">

        <div class="fire">
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <div class="particle"></div>
        <img src="../../assets/mashaal.png" class="wall">

        </div>

    </div>
</div>


<div class="container credits">

    <div style="padding-bottom: 50px;"> Email -> abhisheksoni11999@gmail.com </div>
    <div><a class="buttfire" href="https://www.dl.dropboxusercontent.com/s/9p40u9wly3vlz8x/Resume%20.pdf?dl=1" target="_blank">Download Resume</a></div>
    <a href="#top"><mat-icon class="upar">keyboard_arrow_up</mat-icon></a>
    <br>
    <div style="width: 50%; border-bottom:2px solid white ; margin: auto; margin-bottom: 6%"></div>
    Designed by- Me ; 
    Developed by- <a href="https://www.yashbharani.com" target="_blank" style="font-weight: 900;">Y.H.B.</a>
</div>
</section>
