<section id="contact">
    <div class="contact">

        <div class="row logos">
            <div class="col-sm-1 icon"><img src="../../assets/gmail.png"></div>
            <div class="col-sm-1 icon"><img src="../../assets/linkdin.png"></div>
            <div class="col-sm-1 icon"><img src="../../assets/insta.png"></div>
            <div class="col-sm-1 icon"><img src="../../assets/fb.png"></div>

        </div>

        <div class="row logosOrtho">
            <div class="col-xs-1 icon"><img src="../../assets/gmailO.png"></div>
            <div class="col-xs-1 icon"><img src="../../assets/linkdinO.png"></div>
            <div class="col-xs-1 icon"><img src="../../assets/instaO.png"></div>
            <div class="col-xs-1 icon"><img src="../../assets/fbO.png"></div>

        </div>
        
    </div>

    <div class="row footer">
        <div class="col-sm-6 credits">Designed by Me - Developed by <a class="yhb">Y.H.B.</a></div>
        <div class="col-sm-5 back"><a href="#top">Back to Top</a></div>
    </div>
</section>
