<div class="starter">
    Cognizance Beta Website - 2020 
</div>

<img src="https://www.dl.dropboxusercontent.com/s/b20ws0kelr0dhg9/one.gif?dl=0">

<img src="https://www.dl.dropboxusercontent.com/s/xnkflqotsmjekgu/two.png?dl=0">

<img src="https://www.dl.dropboxusercontent.com/s/em2cvb08ya7lyvl/three.png?dl=0">

<div class="video">
    <iframe src="https://player.vimeo.com/video/463543188" width="1000" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe></div>

<img src="https://www.dl.dropboxusercontent.com/s/r449jprb7pyfddj/five.png?dl=0">

<img src="https://www.dl.dropboxusercontent.com/s/8fqg1ia9zyat6h7/six.png?dl=0">

<div class="ender">
    Cognizance Beta Website - 2020 <br>
    <span class="date">September 2019</span>
</div>
