<section>
    <div class="intro">
        <div class="title fade-in"> 

            <h1 class="row">
                <div class="col-md-12 tell">Hello, I'am </div>
                <div class="col-md-4 aag">

                    <span class="fire">A</span>
                    <span class="burn">b</span>
                    <span class="bur">h</span>
                    <span class="burn">i</span>
                    <span class="bur">S</span>
                    <span class="fire">h</span>
                    <span class="burn">e</span>
                    <span class="fire">k</span>
                    
                    <span class="fire" style="margin-left: 0.8em;">S</span>
                    <span class="burn">o</span>
                    <span class="bur">n</span>
                    <span class="burn">i</span>

                </div>
                <div class="col-md-6 tell">
                    <div class="Iam">

                        <p>, I &nbsp;  </p>
                        <b>
                          <div class="innerIam">
                            Study Architecture<br /> 
                            Do Graphic Designing<br />
                            Try Photography<br />
                            Learn Stuff
                            </div>
                        </b>
                        
                    </div>
                </div> 
            </h1>

        </div>    
    </div>
</section>