<div class="starter">
    Cognizance 2019</div>
    
    <img src="https://www.dl.dropboxusercontent.com/s/9ubafrun414ym4n/c1.png?dl=0">
    
    <img src="https://www.dl.dropboxusercontent.com/s/shl77lcvuk5lpb7/c2.png?dl=0">

    <img src="https://www.dl.dropboxusercontent.com/s/e1ij562chlg4af9/c3.png?dl=0"> 

    <img src="https://www.dl.dropboxusercontent.com/s/9xot4e86zk3lv9e/c4.png?dl=0"> 

    <img src="https://www.dl.dropboxusercontent.com/s/70efurj7u0o26n0/gif-1-upload.gif?dl=0"> 

    <img src="https://www.dl.dropboxusercontent.com/s/t7b9ps0o6olrpb7/gif-2-upload.gif?dl=0"> 

    <img src="https://www.dl.dropboxusercontent.com/s/6vvl9tvzeic0s0o/gif%20upload3.gif?dl=0"> 

    <div class="ender">
       Cognizance 2019<br>
        <span class="date">March 2019</span>
    </div>