<!-- The Modal -->
<div class="modal">

    <!-- Modal content -->
    
    <div class="modal-content">
       <!-- <div class="modal-header" ></div> -->
        
        <div class="content">

            <div [ngSwitch]="index">

                <div *ngSwitchCase="1">
                    <app-jnv></app-jnv>
                </div>

                <div *ngSwitchCase="2">
                    <app-convention></app-convention>
                </div>

                <div *ngSwitchCase="3">
                    <app-kharsali></app-kharsali>
                </div>

                <div *ngSwitchCase="4">
                    <app-apartment></app-apartment>
                </div>

                <div *ngSwitchCase="5">
                    <app-cogni-beta></app-cogni-beta>
                </div>

                <div *ngSwitchCase="6">
                    <app-yac></app-yac>
                </div>

                <div *ngSwitchCase="7">
                    <app-hologram></app-hologram>
                </div>

                <div *ngSwitchCase="8">
                    <app-cogni2019></app-cogni2019>
                </div>

                <div *ngSwitchCase="9">
                    <app-artworks></app-artworks>
                </div>

                <div *ngSwitchDefault>Project Not Found</div>
            </div>

        </div>
    </div>

    <a class="clos" routerLink=""><mat-icon class="bandh">close</mat-icon></a>

    <div *ngIf="index<9"> <!-- <<== Change Max No. of Projects !!-->

        <a class="next " [routerLink]="['/project', index+1]">    <mat-icon>keyboard_arrow_right</mat-icon>    </a>

    </div>
   
    <div *ngIf="index>1">

        <a class="previous" [routerLink]="['/project', index-1]"> <mat-icon >keyboard_arrow_left</mat-icon>    </a>

    </div>
    
</div>
