<p>project works!</p>
<!-- The Modal -->
<div class="modal">

    <!-- Modal content -->
    
    <div class="modal-content">
       <!-- <div class="modal-header" ></div> -->
        
        <div class="content">

            <app-jnv></app-jnv>

        </div>
    </div>

    <a class="clos" routerLink=""><mat-icon class="bandh">close</mat-icon></a>


    <a class="next " [routerLink]="['/project', index+1]">    <mat-icon>keyboard_arrow_right</mat-icon>    </a>

    <a class="previous" [routerLink]="['/project', index-1]"> <mat-icon >keyboard_arrow_left</mat-icon>    </a>
</div>
