.nav{
    position: fixed;
    padding: 15px;
    margin: 0;
    width: 100%;
    font-size: 20px;

    background: linear-gradient(180deg, #420000 7.81%, #D30000 100%), #BD0000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.option{
    opacity: .8;
    color: white !important;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: transform .2s;
    padding-left: 2%;
    padding-right: 2%;
    max-width: 200px;
}
.option:hover{
    transform: scale(1.1);
    opacity: 1;
    text-decoration-line: underline ;

}

@media screen and (max-width: 600px) {
.nav{
    font-size: 14px;
}

.option{
    max-width: 100px;
}
}

