<section id="works">
    <div class="works">
        <div class="title">
            <img src="../../assets/portfolio.png" style="width: 40vw;">
        </div>
    



    <div  class="row margin-top-40 contain ">
             
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/1">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/joa6uhef4ugwzyz/Thumbnail-Navodaya.png?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">School Design <br> 5th Semester</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Jawahar Navodaya Vidyalaya</div>
    
        </div>   
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/2">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/fazerzz8f66xmi3/Thumbnai-mixed-use.png?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Mixed Use Building<br> 6th Semester</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Convention Center<br>Roorkee</div>
    
        </div>      
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/3">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/2i7j043kdqoo9et/thu.jpg?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">A.N.D.C.- ANC:2019</h1>
               </div>
            </div>
          </div>
    
          <div class="title">ANDC-2019 "Kharsali"</div>
    
        </div>   
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/4">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/p2ou42fn2787dv0/Thumbnail-Apartment.png?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Campus Aapartments <br> 6th Semester</h1>
               </div>
            </div>
          </div>
    
          <div class="title">IITR Staff & <br> Faculty Apartments</div>
    
        </div>   
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/5">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/nan3mz8f8cydjvu/thumbnail.jpg?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Cognizance<br> Website Design</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Cognizance - 2020<br>Beta Website</div>
    
        </div>      
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/6">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/qznw90yj0cssou6/thumbnail.jpg?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Y.A.C. <br> Monument Design Competition</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Plastic Monument</div>
    
        </div> 
        
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/7">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/0tysjhmfjacsf33/thumbnail.jpg?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Campus Map <br>Cognizance IITR</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Hologram Map</div>
    
        </div>
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/8">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/iqwc4y5dhpr6me7/Thumbnail-Cognizance%2719.png?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Cognizance Tech Fest</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Cognizance 2019</div>
    
        </div>
    
        <div class="col-xl-4">
    
          <div class="thumbnail" routerLink="project/9">
            <div class="thumbnail__container">
              <div class="thumbnail__img" style="background-image: url(https://www.dl.dropboxusercontent.com/s/xhjluyq1gngklcu/Thumbnail-posters-%26-artwork.png?dl=0);"></div>
              <div class="thumbnail__content"> 
                <h1 class="thumbnail__caption">Artworks</h1>
               </div>
            </div>
          </div>
    
          <div class="title">Posters and Artworks</div>
    
        </div>
    
       
    
    
    
    
      </div>

    </div>
</section>


